*.so
*.o
*.a
*.d
*.exe
*.log
*.err
*.out
*BasicBlocks.*
*obj-intel64*
*.tar.gz
*__pycache__*
cmake_install.cmake
CMakeCache.txt
CMakeFiles
tools/pin-*
tools/gtpin-*
tools/nvbit-*
tools/cmake-*
BasicBlocksCPU
KOIPerf.*
benchmarks/gromacs/install
benchmarks/gromacs/input
tools/simpoint/simpoint
benchmarks/gromacs/gromacs-2023.3
benchmarks/gromacs/tests/*/run*.sh
benchmarks/gromacs/tests/*/benchMEM.tpr
benchmarks/gromacs/tests/*/confout.gro
benchmarks/gromacs/tests/*/ener.edr
benchmarks/gromacs/tests/*/state.cpt
